@model IsBasvuruKaydi.Entities.DTOs.ListCvDTO

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>ListCvDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hobiler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referanslar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referanslar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deneyimler)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deneyimler)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class = "col-sm-10">
              <img src="~/img/@Model.Fotograf" height="250" alt="">
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">Listeye Dön</a>
</div>
